.arrow {
    /*width: 40px;*/
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin: 10px 10px;
}

.arrow:before, .arrow:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
}

.arrow-up:before {
    border: none;
    background-color: #555;
    height: 50%;
    width: 30%;
    top: 50%;
    left: 35%;
}

.arrow-up:after {
    left: 0;
    top: -50%;
    border-width: 20px 20px;
    border-bottom-color: #555;
}

.arrow-right:before {
    border: none;
    background-color: #555;
    height: 30%;
    width: 50%;
    top: 35%;
    left: 0;
}

.arrow-right:after {
    left: 50%;
    top: 0;
    border-width: 20px 20px;
    border-left-color: #555;
}

.arrow-down:before {
    border: none;
    background-color: #555;
    height: 50%;
    width: 30%;
    top: 0;
    left: 35%;
}

.arrow-down:after {
    left: 0;
    top: 50%;
    border-width: 20px 20px;
    border-top-color: #555;
}

.arrow-left:before {
    border: none;
    background-color: #555;
    height: 30%;
    width: 50%;
    top: 35%;
    left: 50%;
}

.arrow-left:after {
    left: -50%;
    top: 0;
    border-width: 20px 20px;
    border-right-color: #555;
}
